/*
Fonts used:
-----------
* Open Sans 400
* Open Sans 600 - .PostContent strong


* Roboto

*/

@font-face {
  font-family: 'dejavu_sans_monobook';
  src: url('./styles/DejaVuSansMono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
};
